.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    height: 10vh;
    color: white;
    /* transition: all 0.5s; */
/* transition-timing-function:  P; */
    /* z-index: 1; */
}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
.header_left ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140%;
}
.header_right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150%;
}